*{
    margin: 0;
    padding: 0;
}
body{
    min-height: 100vh;
}
.navbar-brand{
    color: rgba(18, 30, 199, 0.767);
    padding-left: 10px;
}
.navbar-expand-sm .navbar-collapse{
    justify-content: space-around;
}
.nav-item{
    min-width: 100px;
}
.nav-item{
    padding-left: 10px;
}
.container-fluid{
    padding: 0;
}
.modal-body{
    background-color: aliceblue;
}
h5, h6{
    text-align: center;
    font-weight: bold;
}
.card{
    margin-top: 20px;
}
#carousel .item{
    
}